@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-dot-grid {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(rgb(67, 64, 67) 1px, transparent 0);
  background-size: 100px 100px;
  background-position: center;
}

.bg-dot-grid-glow {
  position: relative;
  background-color: black;
  background-image: radial-gradient(rgba(49, 44, 50, 0.3) 1px, transparent 0);
  background-size: 100px 100px;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.bg-dot-grid-glow::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(67, 64, 67, 0.9) 1.5px, transparent 0);
  background-size: 100px 100px;
  background-position: center;
  opacity: 0;
  animation: glowPulse 3s ease-in-out infinite;
  pointer-events: none;
  z-index: -1;
}

@keyframes glowPulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
